<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Технологический блог avtomon.com</title>
    <meta name="description" content="Авторские статьи и новости по веб-разработке, современным технологиям и управлению проектами, мнения специалистов. Проекты автора"/>

    <link type="text/css" rel="stylesheet" href="/html/css/materialize.min.css"  media="screen,projection"/>

    <link rel="stylesheet" type="text/css" href="/html/css/main.min.css"/>
    <link rel="stylesheet" type="text/css" href="/html/css/style.min.css"/>
</head>
<body>
<div class="grad">
    <div class="container">

        <div class="header">
            <div class="logodiv">
                <span class="headerlogo"><a href="/" class="no_underline">avtomon.com</a></span>
                <span class="menu_up">
                    <span class="headersearch">
                        <script defer>
                            (function() {
                                var cx = '006927285580439326900:is0xj4fvtk4';
                                var gcse = document.createElement('script');
                                gcse.type = 'text/javascript';
                                gcse.async = true;
                                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                        '//cse.google.com/cse.js?cx=' + cx;
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(gcse, s);
                            })();
                        </script>
                        <gcse:searchbox-only></gcse:searchbox-only>
                    </span>
                    <span id="login">
                        <span class="mainmenu"><a href="/login" class="login">Вход</a></span>
                        <span class="mainmenu separator">|</span>
                        <span class="mainmenu"><a href="/register">Регистрация</a></span>
                        <span class="mainmenu register no_display">
                            Вы вошли как
                            <a></a>
                            <span class="separator">|</span>
                            <a class="logout">Выйти</a>
                        </span>
                    </span>
                </span>
                <!--<span class="headerflag">
                    <a href="#" class="no_underline" id="ru"></a>
                    <a href="#" class="no_underline" id="en"></a>
                </span>-->
            </div>

            <div class="headermenu">
                <ul>
                    <li id="headermenunews">
                        <a href="/news" class="PTSR">
                            <span>Новости</span>
                        </a>
                    </li>
                    <li id="headermenuprojects">
                        <a href="/projects" class="PTSR">
                            <span>Проекты</span>
                        </a>
                    </li>
                    <li id="headermenuarticles">
                        <a href="/articles" class="PTSR">
                            <span>Статьи</span>
                        </a>
                    </li>
                    <li id="headeropinions">
                        <a href="/views" class="PTSR">
                            <span>Мнения</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="banner">
            <div class="bannertop">
                <table class="parent clone in_id_id">
                    <tbody>
                        <tr>
                            <td class="bannerarrow">
                                <div class="arrow_left"></div>
                            </td>
                            <td class="banner_content">
                                <div>
                                    <span class="bannertheme PTSR">
                                        <a href="/projects/" class="no_underline in_text_title in_href_id" rel="canonical"></a>
                                    </span>
                                    <pre class="bannermenu"><a class="in_href_documentation">документация</a>   |   <a class="in_href_download">скачать</a>   |   <a class="in_href_demo">демо</a></pre>
                                </div>
                                <div class="bannertextblok in_text_brief"></div>
                                <a style="color: #e1ffa6; float: right; margin-top: 10px;" href="/projects/" class="in_href_id" rel="canonical">подробнее...</a>
                            </td>
                            <td class="bannerarrow">
                                <div class="arrow_right"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="content">

            <div class="contenttop PTSR">
                <div><h2>Последние новости</h2></div>
                <div><h2>Последние статьи</h2></div>
            </div>

            <div class="contenttop2">
                <div class="contenttop2tags news">
                    <div></div>
                    <ul>
                        <li class="parent clone"><a href="/tag/" class="in_href_id in_text_tag"></a></li>
                    </ul>
                </div>

                <div class="contenttop2tags articles" style="margin-right: 50px">
                    <div></div>
                    <ul>
                        <li class="parent clone"><a href="/tag/" class="in_href_id in_text_tag"></a></li>
                    </ul>
                </div>

                <div class="contenttop2rss">
                    <div>
                        <img class="contenttop2rssimg" src="/html/icons/rss.png">
                        <ul class="contenttop2rssul">
                            <li>
                                <a href="http://feeds.feedburner.com/avtomon">
                                    <img src="http://feeds.feedburner.com/~fc/avtomon?bg=FFFFFF&amp;fg=&amp;anim=0" height="26" width="88" style="border:0" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=avtomon', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
                        <div class="subscription input-field">
                            <input type="email" class="validate" name="email" id="email">
                            <label for="email">Электропочта</label>
                        </div>
                        <input type="hidden" value="avtomon" name="uri"/>
                        <input type="hidden" name="loc" value="ru_RU"/>
                        <input type="submit" class="button waves-light" value="Подписаться"></span>
                    </form>
                </div>
            </div>

            <div class="contentarticles">
                <div>
                    <div class="news parent clone in_id_id">
                        <h3>
                            <a href="/news/" class="in_text_title in_href_id" rel="canonical"></a>
                        </h3>
                        <p class="in_text_brief"></p>
                        <span class="index_content_tags">
                            <span>
                                <a href="/tag/" class="in_text_tag in_href_tag_id tags parent clone"></a>
                            </span>
                        </span>
                        <span class="index_content_calendar">
                            <span class="in_text_date date"></span>
                        </span>
                    </div>
                </div>

                <div>
                    <div class="article parent clone in_id_id">
                        <h3>
                            <a href="/articles/" class="in_text_title in_href_id" rel="canonical"></a>
                        </h3>
                        <p class="in_text_brief"></p>
                        <span class="index_content_tags">
                            <span>
                                <a href="/tag/" class="in_text_tag in_href_tag_id tags parent clone"></a>
                            </span>
                        </span>
                        <span class="index_content_calendar">
                            <span class="in_text_date date"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="contentarticles more">
                <div class="no_display">
                    <a href="/news">Еще новости...</a>
                </div>
                <div class="no_display">
                    <a href="/articles">Еще статьи...</a>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footerlinks">
                <a href="/news"><span>Новости</span></a><span>|</span>
                <!--<a href="1.html"><span>Заметки</span></a><span>|</span>-->
                <a href="/projects"><span>Проекты</span></a><span>|</span>
                <a href="/articles"><span>Статьи</span></a><span>|</span>
                <a href="/views"><span>Мнения</span></a>
                <span class="footersocnet PTSR">Представительства в социальных сетях</span>
            </div>

            <div class="footersocnetdiv">
                <a href="https://vk.com/avtomon" target="_blank" id="vk"></a>
                <a href="https://www.facebook.com/groups/avtomon/" target="_blank" id="fb"></a>
                <a id="tw"></a>
                <a id="gl"></a>
            </div>

            <div class="footerallright">
                <p class="footerallrightavcom"><span class="footerallrightlogo">avtomon.com </span>© 2014</p>

                <p class="footerallrighttext">Все права защищены. Полное или частичное копирование материалов запрещено,
                    при согласованном использовании материалов необходима ссылка на ресурс. Полное или частичное
                    копирование произведений запрещено, согласование использования произведений производится с их
                    авторами.</p>

                <p class="footerallrightsearch">
                    <script defer>
                        (function() {
                            var cx = '006927285580439326900:is0xj4fvtk4';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                    '//cse.google.com/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                        })();
                    </script>
                    <gcse:searchbox-only></gcse:searchbox-only>
                </p>
            </div>
        </div>

    </div>
</div>
</body>
<script src="/html/js/jquery-2.1.3.min.js"></script>
<script src="/html/js/auth.min.js"></script>
<script type="text/javascript" src="/html/js/materialize.min.js"></script>
<script src="/html/js/apply.ajax.min.js"></script>
<script>
    $(function ()
    {
        convertDateToClientForm();

        var b = $('body');

        var params = {
            class: 'Tag',
            method: 'getTagsFromType',
            method_params:
            {
                type:'Новость'
            }
        };
        request(params, true, 'GET', function (data)
        {
            if (data.success)
            {
                setMultiData(data, $('.contenttop2tags.news li.clone'));
            }
        });

        params.method_params.type = 'Статья';
        request(params, true, 'GET', function (data)
        {
            if (data.success)
            {
                setMultiData(data, $('.contenttop2tags.articles li.clone'));
            }
        });

        params = {
            class: 'Project',
            method: 'getBannerRusProjectList'
        };
        request(params, true, 'GET', function (data)
        {
            if (data.success)
            {
                setMultiData(data, $('table.clone'));
                var t = $('table.parent:not(.clone)');
                t.first().find('.arrow_left').addClass('disabled');
                t.last().find('.arrow_right').addClass('disabled');
                $('.bannertop table:visible').eq(0).addClass('active');
            }
        });

        params = {
            class: 'Post',
            method: 'getPostCountByType'
        };
        request(params, true, 'GET', function (data)
        {
            if (data.success)
            {
                if (data.success[0].count > $('.news.parent:visible').count)
                {
                    $('.contentarticles.more > div').eq(0).reveal();
                }
                if (data.success[1].count > $('.article.parent:visible').count)
                {
                    $('.contentarticles.more > div').eq(1).reveal();
                }
            }
        });

        b.on('click', '.arrow_right:not(.disabled)', function ()
        {
            var b = $('.bannertop'),
                right = parseInt(b.css('right'));
            b.animate({right: right + 1180 + 'px'}, 500);
            b.find('table.active')
                    .removeClass('active')
                    .next()
                    .addClass('active');
            return false;
        });

        b.on('click', '.arrow_left:not(.disabled)', function ()
        {
            var b = $('.bannertop'),
                    right = parseInt(b.css('right'));
            b.animate({right: right - 1180 + 'px'}, 500);
            b.find('table.active')
                    .removeClass('active')
                    .prev(':visible')
                    .addClass('active');
            return false;
        });

        setInterval( function ()
        {
            $('table.active .arrow_right').click();
        }, 5000);

        $('input#email').blur( function ()
        {
            $(this).next('label').removeClass('active');
        });

    });
</script>
</html>
