<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Новости</title>
    <meta name="description" content="Новости по веб-разработке, современным технологиям и управлению проектами"/>

    <link type="text/css" rel="stylesheet" href="/html/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="/html/css/main.min.css"/>
    <link rel="stylesheet" type="text/css" href="/html/css/style.min.css"/>
</head>
<div class="grad">
    <div class="container">

        <div class="header">
            <div class="logodiv">
                <span class="headerlogo"><a href="/" class="no_underline">avtomon.com</a></span>
                <span class="menu_up">
                    <span class="headersearch">
                        <script>
                            (function() {
                                var cx = '006927285580439326900:is0xj4fvtk4';
                                var gcse = document.createElement('script');
                                gcse.type = 'text/javascript';
                                gcse.async = true;
                                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                        '//cse.google.com/cse.js?cx=' + cx;
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(gcse, s);
                            })();
                        </script>
                        <gcse:searchbox-only></gcse:searchbox-only>
                    </span>
                    <span id="login">
                        <span class="mainmenu"><a href="/login" class="login">Вход</a></span>
                        <span class="mainmenu separator">|</span>
                        <span class="mainmenu"><a href="/register">Регистрация</a></span>
                        <span class="mainmenu register no_display">
                            Вы вошли как
                            <a></a>
                            <span class="separator">|</span>
                            <a class="logout">Выйти</a>
                        </span>
                    </span>
                </span>
            </div>

            <div class="headermenu">
                <ul>
                    <li id="headermenunews">
                        <a href="#" class="PTSR underline">
                            <span>Новости</span>
                        </a>
                    </li>
                    <li id="headermenuprojects">
                        <a href="/projects" class="PTSR">
                            <span>Проекты</span>
                        </a>
                    </li>
                    <li id="headermenuarticles">
                        <a href="/articles" class="PTSR">
                            <span>Статьи</span>
                        </a>
                    </li>
                    <li id="headeropinions">
                        <a href="/views" class="PTSR">
                            <span>Мнения</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content3 PTSN">
            <div class="main">
                <h1 class="PTSR">Новости</h1>
                <div class="contenttop2tags" style="width: 60%;">
                    <div></div>
                    <ul>
                        <li class="parent clone"><a href="/tag/" class="in_href_id in_text_tag"></a></li>
                    </ul>
                </div>

                <div class="podline">
                    <div class="content3baseblock parent clone in_id_id">
                        <div class="content3leftpart">
                            <span class="in_text_date date"></span>
                        </div>
                        <div class="content3subblock">
                            <h3>
                                <a href="/news/" class="in_text_title in_href_id" rel="canonical"></a>
                            </h3>
                            <p class="in_text_brief"></p>
                            <span class="content_tags">
                                <span>
                                    <a href="/tag/" class="in_text_tag in_href_tag_id tags parent clone"></a>
                                </span>
                            </span>
                            <span class="content_calendar">
                                <span class="in_text_date date"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="content_linepages no_display" style="width: 100%; margin-top: 20px; float: left; padding-bottom: 0;">
                    <a class="arr-prev" rel="prev"></a>
                    <ul>
                        <li class="clone">
                            <span>
                                <a></a>
                            </span>
                        </li>
                    </ul>
                    <a class="arr-next" rel="next"></a>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footerlinks">
                <a href="#" class="underline"><span>Новости</span></a><span>|</span>
                <!--<a href="1.html"><span>Заметки</span></a><span>|</span>-->
                <a href="/projects"><span>Проекты</span></a><span>|</span>
                <a href="/articles"><span>Статьи</span></a><span>|</span>
                <a href="/views"><span>Мнения</span></a>
                <span class="footersocnet PTSR">Представительства в социальных сетях</span>
            </div>

            <div class="footersocnetdiv">
                <a href="https://vk.com/avtomon" target="_blank" id="vk"></a>
                <a target="_blank" href="https://www.facebook.com/groups/avtomon/" id="fb"></a>
                <a id="tw"></a>
                <a id="gl"></a>
            </div>

            <div class="footerallright">
                <p class="footerallrightavcom"><span class="footerallrightlogo">avtomon.com </span>© 2014</p>

                <p class="footerallrighttext">Все права защищены. Полное или частичное копирование материалов запрещено,
                    при согласованном использовании материалов необходима ссылка на ресурс. Полное или частичное
                    копирование произведений запрещено, согласование использования произведений производится с их
                    авторами.</p>

                <p class="footerallrightsearch">
                    <script>
                        (function() {
                            var cx = '006927285580439326900:is0xj4fvtk4';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                    '//cse.google.com/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                        })();
                    </script>
                    <gcse:searchbox-only></gcse:searchbox-only>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/html/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/html/js/materialize.min.js"></script>
<script src="/html/js/apply.ajax.min.js"></script>
<script src="/html/js/auth.min.js"></script>
<script>
    $(function ()
    {
        $('.content3baseblock.clone').remove();

        convertDateToClientForm();

        var page = trim(window.location.href, ' /.').match(/page\/(\d+)/);
        if ($.isArray(page))
        {
            page = page[1];
        }
        else
        {
            page = 1;
        }

        function getPageCount ()
        {
            var params = {
                class: 'Post',
                method: 'getPageCountByType',
                method_params:
                {
                    type: 'Новость'
                }
            };
            request(params, true, 'GET', function (data)
            {
                if (data.success)
                {
                    var c = data.success[0].page_count;
                    if (c > 1)
                    {
                        $('.content_linepages').removeClass('no_display');
                        var href = '/news/page/';
                        for (var i = 1; i < parseInt(c) + 1; i++)
                        {
                            var newEl = $('.content_linepages li.clone').clone(true).removeClass('clone');
                            var a = newEl.appendTo('.content_linepages ul').find('a').text(i);
                            if (i == parseInt(page))
                            {
                                newEl.addClass('active');
                                if (i <  parseInt(c))
                                {
                                    $('a.arr-next').attr('href', href + (i + 1))
                                }
                                if (i > 1)
                                {
                                    $('a.arr-prev').attr('href', href + (i - 1))
                                }
                            }
                            else
                            {
                                a.attr('href', href + i);
                            }
                        }
                    }
                }
            });
        }

        getPageCount();

        var params = {
            class: 'Tag',
            method: 'getTagsFromType',
            method_params:
            {
                type:'Новость'
            }
        };
        request(params, true, 'GET', function (data)
        {
            if (data.success)
            {
                setMultiData(data, $('.contenttop2tags li.clone'));
            }
        });

    });
</script>
</html>  