<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]><script src="/vendor/bower-asset/html5shiv/dist/html5shiv.min.js"></script><![endif]-->
    <title class="in_text_title"></title>
    <meta name="description" class="in_content_brief"/>

    <link type="text/css" rel="stylesheet" href="/vendor/bower-asset/materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="/html/css/main.min.css"/>
    <link rel="stylesheet" type="text/css" href="/html/css/style.min.css"/>
</head>
<div class="grad">
<div class="container">

<div class="header">
    <div class="logodiv">
        <span class="headerlogo"><a href="/" class="no_underline">avtomon.com</a></span>
                <span class="menu_up">
                    <span class="headersearch">
                        <script>
                            (function() {
                                var cx = '006927285580439326900:is0xj4fvtk4';
                                var gcse = document.createElement('script');
                                gcse.type = 'text/javascript';
                                gcse.async = true;
                                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                        '//cse.google.com/cse.js?cx=' + cx;
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(gcse, s);
                            })();
                        </script>
                        <gcse:searchbox-only></gcse:searchbox-only>
                    </span>
                    <span id="login">
                        <span class="mainmenu"><a href="/login" class="login">Вход</a></span>
                        <span class="mainmenu separator">|</span>
                        <span class="mainmenu"><a href="/register">Регистрация</a></span>
                        <span class="mainmenu register no_display">
                            Вы вошли как
                            <a></a>
                            <span class="separator">|</span>
                            <a class="logout">Выйти</a>
                        </span>
                    </span>
                </span>
    </div>
    <div class="headermenu">
        <ul>
            <li id="headermenunews">
                <a href="/news" class="PTSR">
                    <span>Новости</span>
                </a>
            </li>
            <li id="headermenuprojects">
                <a href="/projects" class="PTSR">
                    <span>Проекты</span>
                </a>
            </li>
            <li id="headermenuarticles">
                <a href="/articles" class="PTSR">
                    <span>Статьи</span>
                </a>
            </li>
            <li id="headeropinions">
                <a href="/views" class="PTSR">
                    <span>Мнения</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="content2 in_id_id">
    <div class="content2path">
        <a class="content2pathhead in_text_type"></a><span>></span><span class="in_text_title"></span>
    </div>
    <article class="post">
        <div class="content2jobsdiv">
            <h1 class="in_text_title"></h1>
        </div>
        <div class="content2blockarticle PTSR in_text_brief" style="padding-bottom: 0;"></div>
        <div class="content2blockarticle PTSR in_text_text"></div>
        <span class="content2nizarticle">
            <span>
                <a class="in_text_tag in_href_tag_id tags parent clone"></a>
            </span>
        </span>
        <span class="content_calendar">
            <span class="in_text_date date" style="line-height: 1; margin: 0 0 0 30px;"></span>
        </span>
    </article>

    <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8" defer></script>
    <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8" defer></script>
    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter" data-counter=""></div>

    <div class="content2commentlinks PTSR">
        <h2 class="PTSR">Комментарии (<span class="in_text_comment_count"></span>)</h2>
        <!--<span class="content2headcommentlinks">Местные</span>
        <span class="content2cherta">|</span>
        <a href="1.html"><img src="/html/icons/vkblue.png"><span>vk.com</span></a>
        <span class="content2cherta">|</span>
        <a href="1.html"><img src="/html/icons/facebookblue.png"><span>facebook.com</span></a>-->
        <hr/>
    </div>

    <div>
        <div class="content2comment PTSR parent clone in_id_id">
            <!--<i class="small mdi-social-person"></i>-->
            <img src="/html/icons/user.png" class="in_src_thumb">
            <div>
                <a href="/profile/" class="content2nick in_text_login in_href_login"></a>,
                <span class="in_class_is_show">
                    (комментарий к <a class="content2nickpost in_href_from_id" href="#">комментарию</a>),
                </span>
                <span class="in_text_datetime" style="color: #999; margin-left: 10px;"></span>
            </div>
            <p class="in_text_comment_text"></p>
            <a class="content2answer underline">Ответить</a>
        </div>
    </div>

    <form class="content2yourcomment PTSR" id="mycomment" method="POST" phpClass="Comment" phpMethod="newComment" for="insert">
        <label for="text" class="default" style="margin-bottom: 10px; display: block;">Ваш комментарий</label>
        <textarea name="text" id="text" style="height: 100px" class="default"></textarea>
        <input type="hidden" id="post_id" name="post_id">
        <input type="hidden" id="from_id" name="from_id">
        <span class="button waves-effect waves-light save" style="margin-right: 20px">Отправить</span>
        <span class="button waves-effect waves-light clear">Очистить</span>
    </form>
</div>

<div class="footer">
    <div class="footerlinks">
        <a href="/news"><span>Новости</span></a><span>|</span>
        <!--<a href="1.html"><span>Заметки</span></a><span>|</span>-->
        <a href="/projects"><span>Проекты</span></a><span>|</span>
        <a href="/articles"><span>Статьи</span></a><span>|</span>
        <a href="/views"><span>Мнения</span></a>
        <span class="footersocnet PTSR">Представительства в социальных сетях</span>
    </div>

    <div class="footersocnetdiv">
        <a href="https://vk.com/avtomon" target="_blank" id="vk"></a>
        <a target="_blank" href="https://www.facebook.com/groups/avtomon/" id="fb"></a>
        <a id="tw"></a>
        <a id="gl"></a>
    </div>

    <div class="footerallright">
        <p class="footerallrightavcom"><span class="footerallrightlogo">avtomon.com </span>© 2014</p>

        <p class="footerallrighttext">Все права защищены. Полное или частичное копирование материалов запрещено,
            при согласованном использовании материалов необходима ссылка на ресурс. Полное или частичное
            копирование произведений запрещено, согласование использования произведений производится с их
            авторами.</p>

        <p class="footerallrightsearch">
                    <script>
                        (function() {
                            var cx = '006927285580439326900:is0xj4fvtk4';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                    '//cse.google.com/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                        })();
                    </script>
                    <gcse:searchbox-only></gcse:searchbox-only>
                </p>
    </div>
</div>

</div>
</div>
</body>
<script src="/vendor/bower-asset/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bower-asset/materialize/dist/js/materialize.min.js"></script>
<script src="/vendor/avtomon/applyAjax.js/apply.ajax.min.js"></script>
<script src="/html/js/auth.min.js"></script>
<script src="/vendor/avtomon/myForm/myForm.min.js" defer></script>
<script src="/vendor/bower-asset/ckeditor/ckeditor.js"></script>
<script>
$(function ()
{
    convertDateToClientForm();

    var b = $('body'),
        params = {
            class: 'Comment',
            method: 'getPostComments',
            method_params:
            {
                post_id: $('.content2.in_id_id').attr('id')
            }
        };
    request(params, true, 'GET', function (data)
    {
        if (data.success)
        {
            for (var i in data.success)
            {
                data.success[i].datetime = convertDateToClientForm(data.success[i].datetime, true);
            }
            setMultiData(data, $('.content2comment.clone'));
        }
    });

    b.on('click', '.content2answer', function ()
    {
        $('#mycomment').find('#from_id').val($(this).parents('.content2comment').attr('id'));
        window.location.hash = 'mycomment';
    });

    $('.clear').click( function ()
    {
        //$(this).siblings('textarea').val('');
        CKEDITOR.instances.text.setData('');
    });

    b.on('click', '.save:not(.disabled)', function (e)
    {
        $(this).addClass('disabled');
        var f = $(this).parent('form'),
            post_id = $('.content2.in_id_id').attr('id');

        nativeSubmit($(this).parents('form'),
                function ()
                {
                    f.find('#post_id').val(post_id);
                    var text = CKEDITOR.instances.text.getData().replace(/(<p>&nbsp;<\/p>|<p><\/p>|&nbsp;|\\r\\n)/g, ' ').trim();
                    CKEDITOR.instances.text.setData(text);
                    f.find('#text').val(text);
                },
                function (response)
                {
                    var c = $('.in_text_comment_count'),
                        r = response.success[0];

                    r.login = $('.register a').eq(0).text();
                    r.datetime = convertDateToClientForm(r.datetime, true);
                    setMultiData(response, $('.content2comment.clone'));
                    c.text(parseInt(c.text()) + 1);
                    $('.clear').click();
                },
                function ()
                {
                    showError('Не удалось сохранить комментарий');
                });
    });

    if ($('#mycomment').is(':visible'))
    {
        CKEDITOR.replace('text', {height: '130px', customConfig : '/html/js/ckeditor/user_config.js', on: {
            contentDom: function ()
            {
                var editor = CKEDITOR.instances.text.editable();
                editor.attachListener(editor, 'keyup', function (e)
                {
                    if (e.data.getKeystroke() == CKEDITOR.CTRL + 13)
                    {
                        $('.save:not(.disabled)').click();
                        return false;
                    }
                });
            }
        }});
    }

});
</script>
</html>  