<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]><script src="/vendor/bower-asset/html5shiv/dist/html5shiv.min.js"></script><![endif]-->
    <title>Проекты</title>
    <meta name="description" content="Проекты автора блога с описанием и ссылками"/>

    <link type="text/css" rel="stylesheet" href="/vendor/bower-asset/materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="/html/css/main.min.css"/>
    <link rel="stylesheet" type="text/css" href="/html/css/style.min.css"/>
</head>
<div class="grad">
<div class="container">
    <div class="header">
        <div class="logodiv">
            <span class="headerlogo"><a href="/" class="no_underline">avtomon.com</a></span>
                <span class="menu_up">
                    <span class="headersearch">
                        <script>
                            (function() {
                                var cx = '006927285580439326900:is0xj4fvtk4';
                                var gcse = document.createElement('script');
                                gcse.type = 'text/javascript';
                                gcse.async = true;
                                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                        '//cse.google.com/cse.js?cx=' + cx;
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(gcse, s);
                            })();
                        </script>
                        <gcse:searchbox-only></gcse:searchbox-only>
                    </span>
                    <span id="login">
                        <span class="mainmenu"><a href="/login" class="login">Вход</a></span>
                        <span class="mainmenu separator">|</span>
                        <span class="mainmenu"><a href="/register">Регистрация</a></span>
                        <span class="mainmenu register no_display">
                            Вы вошли как
                            <a></a>
                            <span class="separator">|</span>
                            <a class="logout">Выйти</a>
                        </span>
                    </span>
                </span>
        </div>

        <div class="headermenu">
            <ul>
                <li id="headermenunews">
                    <a href="/news" class="PTSR">
                        <span>Новости</span>
                    </a>
                </li>
                <li id="headermenuprojects">
                    <a href="/projects" class="PTSR">
                        <span>Проекты</span>
                    </a>
                </li>
                <li id="headermenuarticles">
                    <a href="/articles" class="PTSR">
                        <span>Статьи</span>
                    </a>
                </li>
                <li id="headeropinions">
                    <a href="/views" class="PTSR">
                        <span>Мнения</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
<div class="content5">
    <div class="main">
        <h1 class="PTSR">Проекты</h1>
        <div class="projects">
            <div class="bannertop" style="width: auto">
                <table class="parent clone in_id_id">
                    <tbody>
                    <tr>
                        <td class="banner_content">
                            <div>
                                    <span class="bannertheme PTSR">
                                        <a href="/projects/" class="no_underline in_text_title in_href_id" rel="canonical"></a>
                                    </span>
                                <pre class="bannermenu"><a class="in_href_documentation">документация</a>   |   <a class="in_href_download">скачать</a>   |   <a class="in_href_demo">демо</a></pre>
                            </div>
                            <div class="bannertextblok in_text_brief"></div>
                            <!--<a style="color: #e1ffa6; float: right; margin-top: 10px;" href="/projects/" class="in_href_id" rel="canonical">подробнее...</a>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="content_linepages no_display" style="width: 100%; margin-top: 20px;">
            <a class="arr-prev" rel="prev"></a>
            <ul>
                <li class="clone">
                <span>
                    <a></a>
                </span>
                </li>
            </ul>
            <a class="arr-next" rel="next"></a>
        </div>
    </div>
</div>


    <div class="footer">
        <div class="footerlinks">
            <a href="/news"><span>Новости</span></a><span>|</span>
            <!--<a href="1.html"><span>Заметки</span></a><span>|</span>-->
            <a href="/projects"><span>Проекты</span></a><span>|</span>
            <a href="/articles"><span>Статьи</span></a><span>|</span>
            <a href="/views"><span>Мнения</span></a>
            <span class="footersocnet PTSR">Представительства в социальных сетях</span>
        </div>

        <div class="footersocnetdiv">
            <a href="https://vk.com/avtomon" target="_blank" id="vk"></a>
            <a target="_blank" href="https://www.facebook.com/groups/avtomon/" id="fb"></a>
            <a id="tw"></a>
            <a id="gl"></a>
        </div>

        <div class="footerallright">
            <p class="footerallrightavcom"><span class="footerallrightlogo">avtomon.com </span>© 2014</p>

            <p class="footerallrighttext">Все права защищены. Полное или частичное копирование материалов запрещено,
                при согласованном использовании материалов необходима ссылка на ресурс. Полное или частичное
                копирование произведений запрещено, согласование использования произведений производится с их
                авторами.</p>

            <p class="footerallrightsearch"><input type="text" placeholder="Поиск..." class="browser"></p>
        </div>
    </div>


</div>
</div>
</body>
<script src="/vendor/bower-asset/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bower-asset/materialize/dist/js/materialize.min.js"></script>
<script src="/vendor/avtomon/applyAjax.js/apply.ajax.min.js"></script>
<script src="/html/js/auth.min.js"></script>
<script>
    $(function ()
    {
        var page = trim(window.location.href, ' /.').match(/page\/(\d+)/);
        if ($.isArray(page))
        {
            page = page[1];
        }
        else
        {
            page = 1;
        }

        function getPageCount ()
        {
            var params = {
                class: 'Post',
                method: 'getPageCountByType',
                method_params:
                {
                    type: 'Новость'
                }
            };
            request(params, true, 'GET', function (data)
            {
                if (data.success)
                {
                    var c = data.success[0].page_count;
                    if (c > 1)
                    {
                        $('.content_linepages').removeClass('no_display');
                        var href = '/projects/page/';
                        for (var i = 1; i < parseInt(c) + 1; i++)
                        {
                            var newEl = $('.content_linepages li.clone').clone(true).removeClass('clone');
                            var a = newEl.appendTo('.content_linepages ul').find('a').text(i);
                            if (i == parseInt(page))
                            {
                                newEl.addClass('active');
                                if (i <  parseInt(c))
                                {
                                    $('a.arr-next').attr('href', href + (i + 1))
                                }
                                if (i > 1)
                                {
                                    $('a.arr-prev').attr('href', href + (i - 1))
                                }
                            }
                            else
                            {
                                a.attr('href', href + i);
                            }
                        }
                    }
                }
            });
        }

        getPageCount();
    });
</script>
</html>  